# dependencies
node_modules/
.pnp
.pnp.js

# env
.env
.env.local
*.pem

# backend
backend/dist/
backend/prisma/*.db
backend/uploads/

# expo / react native
mobile/.expo/
mobile/dist/
mobile/npm-debug.*
mobile/*.jks
mobile/*.p8
mobile/*.p12
mobile/*.key
mobile/*.mobileprovision
mobile/*.orig.*
mobile/web-build/

# os
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ide
.vscode/
.idea/

login.json
reset.json
changepw.json
forgot.json
body.json
